{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<style type="text/css" rel="stylesheet">
  div, body {
    background-color: #F6CAD4;
  }

  body .container .jumbotron {
    background-color: #F6CAD4;
  }

  #amount {
    line-height: 24px;
    width: 100%;
  }

  .container .jumbotron h1 {
    color: #12BAF8;
    text-shadow: 1px 1px 1px #04678B;
  }

  label {
    text-align: right;
    margin-top: 7px;
  }

  .submit-btn {
    float: right;
    margin: 20px 15px;
  } 

  @media only screen and (min-width : 992px) {
    .form-group {
    padding-top: 16px;
    margin-bottom: 36px;
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
  blockquote{
    font-size: 1.4em;
    margin:50px auto;
    border-left: 0;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
  }

  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#5ACFFA;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  blockquote::after{
    content: '';
  }

  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }

  .chat-thread {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: normal;
    width: 80%;
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px;
    margin: auto;
    display: flex;
    background-color: white !important;
    border-radius: 20px;
    border: 1px solid #aaa;
    flex-direction: column;
  }

  .chat-thread > .from-them {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 18px;
    font-size: 14px;
    position:relative;
    padding:10px 15px;
    border-radius:25px;
    background:#E5E5EA;
    color:black;
    letter-spacing: 0.25px;
  }

  .from-them:before, .from-them:after {
    content:"";
    position:absolute;
    bottom:-2px;
    height:20px;
  }

  .from-them:before {
    left:-7px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
    transform:translate(0, -2px);
  }

  .from-them:after {
    left:10px;
    width:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
    transform:translate(-30px, -2px);
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Support #transcrowdfund</h1>
    <blockquote>
      I think for anyone, direct financial support for LGBTQ people — especially black and brown trans women — is the number one way to support this community’s most marginalized members... Hashtags like #TransCrowdfund are an essential resource if you’re not plugged into networks already sharing fundraiser links.
      <footer>Lucy Diavolo, Teen Vogue’s politics news editor and co-founder of the <a href="https://www.tfemchicago.com/">Trans-Feminine Alliance of Chicago</a></footer>
    </blockquote>
    <p>I came across <a href="https://www.vox.com/identities/2019/6/22/18700875/lgbtq-good-ally">this piece</a> on Vox about effective allyship where I found the above quote. Paying people over the internet is the most convenient thing ever, and clearly very useful for those individuals. But despite the excessive convenience, I naturally had to make it even easier for myself to ensure I kept up the habit.</p> 
    <p>So I hacked together a little script that would pull tweets from twitter, parse out the paypal.me / cash.app links to create urls that prefill the amount I want to donate. Lastly, I have the script text me the tweet and the prefill link to my phone at 10am each morning. It means my lazy ass gets a text each morning and I'm 1-2 clicks away from supporting someone who's asking. It requires no brainpower and takes me less than a minute each morning.</p>
    <p>I've found it useful, so I figured I should probably let other people use it too. I included some lightly modified texts I've received from the script so far. If you also want to get texts like these, you can fill out the form below.</p>
    <div style="margin-top: 40px;" class="row">
      <div class="col-md-6">
        <div id="chat-thread" class="chat-thread frame">
          <p class="from-them">#TransCrowdfund #Pride hey im a trans lesbian who finally got a job again after 4 months. i havent started yet and i wont be able afford rent. i need $75 by the 26th in order to not get kicked out. please help by rting or donating. thank you <a>http://bit.ly/sample</a></p>
          <p class="from-them">I will admit I could use the help with this toxic housing situation I need help with rent AND transportation. cashapp or gofundme donations help a lot story is on the gofundme video #TransCrowdFund @PayBlkTrnsWomen <a>http://cash.app/$redacted/10</a></p>
          <p class="from-them">I'm really not doing well financially, any help right now would be greatly appreciated and go to a good use. Have almost nothing to eat, owe money for missing an appointment and have basically nothing #transcrowdfund <a>http://bit.ly/sample</a></p>
          <p class="from-them">Uhhhh okay this is embarrassing. Can anyone spare some money for bills and maybe food? I need £8 for urgent bills, and anything else for food and less immediate bills would be so appreciated! Thank you! ❤️💜💚💙❤️ #transcrowdfund #crowdfunding #urgent <a>http://bit.ly/sample</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <form method="POST" action="/">
          <h3>Get #transcrowdfund texts to your phone</h3>
          {{ form.csrf_token }}
          {{ wtf.form_errors(form) }}
          {{ wtf.form_field(form.phone_number, form_type="horizontal", horizontal_columns=('lg', 4, 8)) }}
          <div class="form-group required">
            <label class="control-label  col-lg-4" for="frequency">Frequency</label>
            <div class="col-lg-8">
            {% for option in form.frequency %}
              <div class="col-lg-4" style="padding-left: 0;">
                {{ option }}
                {{ option.label }}
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-lg-4" for="amount">Amount</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                {{ form.amount() }}
                <div class="input-group-addon">.00</div>
            </div>
          </div>
          <button type="submit" class="submit-btn btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <p>Couple useful details:</p>
    <small>
      I only pull tweets that link to a paypal.me account or a cash.app account. This is because those were the links where I could easily prefill all information, making them one-click submits. Stripe's cash app is only available via a native mobile app so you will have to download that from the app store and set up an account there. For the paypal links, you'll need a paypal account with payment options set up. Those are the big one-time setup tasks.
    </small>
    <small>
      This does leave out a bunch of people who post GoFundMe links, as well as some smaller services like ko-fi.com. It also doesn't handle folx who don't directly include the donate link in their tweet (either by just putting the username in text or by retweeting an older tweet that contains the link). The only reason for leaving these out is to get to an MVP in people's hands as quickly as possible.
    </small>
    <small>
      This does leave out a bunch of people who post GoFundMe links, as well as some smaller services like ko-fi.com. It also doesn't handle folx who don't directly include the donate link in their tweet (either by just putting the username in text or by retweeting an older tweet that contains the link). The only reason for leaving these out is to get to an MVP in people's hands as quickly as possible.
    </small>
    <small>
      If you feel passionate about feature requests, please email me at <a href="mailto:gaurav@gauravkulkarni.com">gaurav@gauravkulkarni.com</a>. You can also check out the code and add issues on github
    </small>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var element = document.getElementById("chat-thread");
element.scrollTop = element.scrollHeight;
{% if form.errors %}
  document.addEventListener("DOMContentLoaded", function(event) {
    window.scrollTo(0,document.body.scrollHeight);
  })
{% endif %}
</script>
{% endblock %}

